﻿@model Vidly.Models.Movie
@{

    Layout = "~/Pages/_Layout.cshtml";
}


<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dd/MM/yyyy")</li>
    <li>Date Added: @Model.AddedDate.ToString("dd/MM/yyyy")</li>
    <li>Number in stock: @Model.NumberInStock</li>
</ul>
