﻿@model List<Vidly.Models.Movie>
@{

    Layout = "~/Pages/_Layout.cshtml";
}


<h2>Movies</h2>

<div><a asp-action="New" class="btn btn-primary">New Movie</a></div>

@if (Model.Count == 0)
{
    <text>Não há clientes cadastrados!</text>
}
else
{
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.Name, "Edit", new { id = item.Id })</td>
                        <td>@item.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}