﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@if (Model.Movie.Id == 0)
{
    <h2>New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>
}


<form asp-action="Save">
    <div class="form-group">
        <label asp-for="Movie.Name" class="control-label"></label>
        <input asp-for="Movie.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Movie.ReleaseDate" class="control-label"></label>
        <input asp-for="Movie.ReleaseDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Movie.Genre.Id" class="control-label"></label>
        @Html.DropDownListFor(m => m.Movie.Genre.Id, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label asp-for="Movie.NumberInStock" class="control-label"></label>
        <input asp-for="Movie.NumberInStock" class="form-control" />
    </div>

    <input asp-for="Movie.Id" type="hidden"/>

    <button type="submit" class="btn btn-primary">Save</button>
</form>