﻿@using Microsoft.ApplicationInsights.AspNetCore
@model Vidly.ViewModels.CustomerFormViewModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@if (Model.Customer.Id == 0)
{
    <h2>New Customer</h2>
}
else
{
    <h2>Edit Customer</h2>
}


<form asp-action="Save" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Customer.Name" class="control-label"></label>
        <input asp-for="Customer.Name" class="form-control"/>
        <span asp-validation-for="Customer.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.MembershipTypeId" class="control-label"></label>
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        <span asp-validation-for="Customer.MembershipTypeId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.BirthDate" class="control-label"></label>
        <input asp-for="Customer.BirthDate" class="form-control"/>
        <span asp-validation-for="Customer.BirthDate"></span>
    </div>
    <div class="checkbox">
        <input asp-for="Customer.IsSubscribedToNewsletter"/>Subscribed to Newsletter
    </div>

    <input asp-for="Customer.Id" type="hidden"/>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form> 

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

