﻿@model Vidly.Models.Customer
@{

    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Customer</h2>
<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>BirthDate: @Model.BirthDate</li>
    }
</ul>