﻿@model List<Vidly.Models.Customer>
@{

    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Customers</h2>

<div><a asp-action="New" class="btn btn-primary">New Customer</a></div>

@if (Model.Count == 0)
{
    <text>Não há clientes cadastrados!</text>
}
else
{
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.Name, "Edit", new { id = item.Id })</td>
                        <td>@item.MembershipType.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}